*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.header-section {
    margin-bottom: 2em;
}

.departmentWrapper, 
 .introWrapper, 
   .intro-row, 
     .intro-Textdeparment, 
       .text-content {
    margin-bottom: 1em;
    max-width: 100%;
    margin: 0;
}
.departmentWrapper a {
    text-decoration: none;
}

.card-image img{
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
    left:1.5em;
    object-fit: cover;
    border-radius: 16px;
}
.main-card{
    width: 180px !important;
    aspect-ratio: 1 / 1.3;
    padding: 24px;
    background-color: hsl(210, 20%, 15%);
    box-shadow: 0px 0px 20px -1.5px hsl(0 0% 0% / 0.5);
    position: relative;
    margin: 10px;
}
.main-card::before{
    content: "";
    position: absolute;
    inset: 1px;
    background-color: hsl(220, 16%, 96%);
    /* z-index: -1; */
    border-radius: inherit;
    transition: all 0.35s ease;
}
.main-card:hover::before{
    transform: rotate(10deg);
    box-shadow: 0px 0px 20px -5px #000;
    height: 250px;
}
.main-card:hover .card-image{
    translate: 0 -14px;
}

.icon{
    border: 2px solid #ffff;
    width: 25px;
    height: 25px;
    rotate: -45deg;
    transition: 0.35s ease;
    border-radius: 50px;

}
.card:hover .icon{
    rotate: 0deg;
    color: #7968d2;
}
.main-card .nameWrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -40px;
}
.main-card h3{
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.main-card p{
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    position: relative;
    bottom: -50px;
}

.readMore{
  background-color: hsl(45, 81%, 45%) !important;
  border: none !important;
}
.text-content a{
  color: rgb(33, 30, 30) !important;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.introWrapper{
    background-color: #fff;
}

.boxOnedepartment {
  background-image: url('/my_web_grahics/roboticDesign.jpg');
}
 .boxTwodepartment {
  background-image: url('/my_web_grahics/blenderAnimation.jpg');
 }

 .boxOnedepartment, .boxTwodepartment {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-bottom-color: rgb(143, 118, 5) ;
    border-bottom: 2px;
    border-radius: 16px;
    margin-bottom: 2em;
    box-shadow: 16px 0px 28px 0 rgb(0,0,0,0.1);
 }
 .intro-Textdeparment{
  background-image: url('/my_web_grahics/whittspace.png');
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  margin-bottom: 2em;
}


/* footer-section */
.footer-section{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.subFooter-one a,.subFooter-three h4, .subFooter-four h4,.subFooter-two h4{
  color: rgb(245, 143, 10);
  font-weight: bold;
  font-size: 1em;
}
.contacts a, .gmail a{
  color: white !important;
  font-weight: bold;
  font-size: 0.8em;
}
.subFooter-one p{
  color: white;
}
.subFooter-one .About-us a,.subFooter-one .contact-us a{
  text-decoration: none;
}
.subFooter-one .contacts, .subFooter-one .gmail{
  display: flex;
  gap: 0.5em;
}
.subFooter-two ul a,.About-us p a, .subFooter-three a{
color: white;
text-decoration: none;
font-size: 0.8em;
}

.social{
  display: flex;
  gap: 1em;
}
.social a{
  text-decoration: none !important;
  color: rgb(230, 131, 10) !important;

}
.copywrite-wrapper{
  display: flex;
  letter-spacing: 0.1em;
  gap: 0.2em;
  font-size: 0.6em;
  font-weight: bolder;
}
.subFooter-four small{
  font-size: 0.9em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subFooter-four h4{
  color: white;
}
.subFooter-four button{
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  background-color: rgb(231, 164, 50);
  border: none;
}
.subFooter-four a{
  text-decoration: none !important;
  color: white !important;
}
.subFooter-four button:hover{
  background-color: #8c6c40;
  color: #ddd6d6;
}
.inputWrapper{
  gap: 0.5rem;
  padding: 0.5em;
  width: 250px;
  border-radius: 0.6rem;
  margin-bottom: 0.6em;
  background-color: white;
}
.inputWrapper input{
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  color: #938d8d;
}

.footer-section hr{
  border: 1px solid white;
}

.social{
  display: flex;
  gap: 1em;
}
.social a{
  text-decoration: none !important;
  color: rgb(230, 131, 10) !important;

}
.copywrite-wrapper{
  display: flex;
  letter-spacing: 0.1em;
  gap: 0.2em;
  font-size: 0.6em;
  font-weight: bolder;
}
.subFooter-four small{
  font-size: 0.9em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subFooter-four h4{
  color: white;
}
.subFooter-four button{
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  background-color: rgb(231, 164, 50);
  border: none;
}
.subFooter-four a{
  text-decoration: none !important;
  color: white !important;
}
.subFooter-four button:hover{
  background-color: #8c6c40;
  color: #ddd6d6;
}

.socialMeedia-Wrapper{
    display: flex;
    flex-direction: center;
    gap: 10em;
    margin-left: 30em;
  }
  
@media(max-width:565.98px) {
  .departmentWrapper, 
   .introWrapper, 
    .intro-row, 
      .intro-Textdeparment, 
        .text-content {
        width: 1000px;
       }
      .main-card{
        width: 96% !important;
      }
      .main-card .card-image img{
        width: 40px !important;
        height: 50px !important;
      }
      .main-card .card-image p{
        font-size: 0.8em !important;
      }
      .main-card h3{
        font-size: 0.6em;
      }
      .boxOnedepartment, .boxTwodepartment {
        height: 200px;
        width: 160px;
      }
      .boxOnedepartment h4, .boxTwodepartment h4{
        font-size: 1em;
      }
     .boxTwodepartment{
        margin-left: 60px;
     }

  .footer-section{
    /* width: 1200px !important; */
    width: 1000px !important;
  }
  .inputWrapper{
    width: 100px !important;
  }
  .inputWrapper input{
    width: 50px !important;
  }

  .socialMeedia-Wrapper{
    display: flex;
    flex-direction: center;
    gap: 10em;
    margin-left: 3em;
  }
};

@media(min-width:575.98px) {
    
};