*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 40px;
}
header{
    width: 100%;
    max-width: 800px;
    text-align: center;
}
header h1{
    color: #767676;
}
header form .search-container{
    margin-top: 20px;
    /* display: flex;
    position: relative; */
}
header form .search-container input{
    width: 100%;
    font-size: 18px;
    padding: 12px 25px;
    border-radius: 20px;
    border: none;
    background: #eee;
}
header form .search-container .material-icon{
    position: absolute;
    right: 90px;
    top: 109px;
    color: #777;
    cursor: pointer;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
.search-container span{
    border: 2px solid greenyellow;
}
.image-container img{
    width: 300px;
    height: 280px;
}
@media screen and (max-width:565.98px) {
    header{
        width: 80%;
    }

}
